'.source.php':
    # Data Transformer
    'Data Transformer':
        'prefix': 'sfdatatransformer'
        'description': 'Backbone to create a DataTransformer'
        'body': """
use Doctrine\Common\Persistence\ObjectManager;
use Symfony\Component\Form\DataTransformerInterface;
use Symfony\Component\Form\Exception\TransformationFailedException;

class ${1:Name}Transformer implements DataTransformerInterface
{
    private $manager;

    public function __construct(ObjectManager $manager)
    {
        $this->manager = $manager;
    }

    public function transform(${2:parameter})
    {
        return null;
    }

    public function reverseTransform(${3:parameter})
    {
        return null;
    }
}
"""

    # Form Type
    'Form Type':
        'prefix': 'sfform'
        'description': 'Backbone to create a FormType'
        'body': """
use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilderInterface;
use Symfony\Component\Form\Extension\Core\Type\SubmitType;

class ${1:Entity}Type extends AbstractType
{

    public function __construct()
    {
    }

    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder
            ->add('${2:field}')
        ;
    }

    public function configureOptions(OptionsResolver $resolver)
    {
        $resolver->setDefaults(array(
            'data_class'      => '${3:EntityClass}',
        ));
    }

    public function getName()
    {
        return '${4:name}';
    }
}
"""
